<!DOCTYPE html>
<!-- Debemos de importar este namespace para poder
trabajar con el motor de plantillas thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<h1>PAGINA DE INICIO</h1>
	
	<h3>
		La fecha actual es: <span th:text="${fecha}"></span>
	</h3>	
	
	<h3 style="color:red" th:each="valor : ${lista}">
    	<span th:text="${valor}"></span>
    	
	</h3>
	
	<a href="login.html"><input type="submit" value="Cerrar Sesion"/></a>
</body>
</html>